* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
}
#myCarou {
    position: relative;
}
.cover {
    object-fit: cover;
    height: 420px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background: rgba(33,33,33,.7);
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);
    width: 40px;
    height: 40px;
}
.carousel-control-prev, .carousel-control-next {
    cursor: pointer;
}
.carousel-control-prev {
    left: 0;
    transform: translateX(-50%);
}
.carousel-control-next {
    right: 0;
    transform: translateX(50%);
}
.containerToTop {
    width: 500px;
    margin: auto;
}
#myBtnToTop {
    display: none;
    position: fixed;
    background-color: transparent;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}
.flight {
    height: 400px;
    overflow: hidden;
    position: relative;
}
.flight:hover .flight-info {
    height: calc(400px - 3rem)
}
.flight img {
    height: 180px;
    object-fit: cover;
}
.flight-info {
    background-color: rgba(59, 130, 246, 0.5);
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: 1rem;
    transition-duration: 1.25s;
}
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.card{
    height: 100px;
    width: 200px;
    position: relative;
    margin: 10px;
}
input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    box-shadow: 7px 7px 15px rgba(2,28,53,0.08);
    cursor: pointer;
    outline: none;
}
input[type="radio"]:before{
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #f9fafd;
    border: 1px solid #e2e6f3;
    border-radius: 50%;
    top: 35px;
    right: 20px;
}
input[type="radio"]:after{
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border-radius: 50%;
    top: 39.5px;
    right: 24.5px;
}
label.card_label{
    position: absolute;
    margin: 20px;
    cursor: pointer;
}
h5{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
}
h2{
    font-size: 28px;
}
span{
    font-weight: 400;
    font-size: 18px;
    color: #7b7b93;
}
input[type="radio"]:hover{
    transform: scale(1.05);
}
input[type="radio"]:checked{
    border: 3px solid #478bfb;
}
input[type="radio"]:checked:after{
    background-color: #478bfb;
}