
<form method="post" action="{{ url_for('login_admin') }}" class="row g-3">
  <div class="col-md-8">
            <label for="inputUsername4" class="form-label" >Username</label>
            <input type="username" class="form-control" id="inputUsername4" name="username" required>
  </div>
  <div class="col-md-8">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>