{% extends 'layout/base.html' %}
{% block title %}Đặt vé{% endblock %}
{% block content %}
<h1 class="text text-dark text-center bg-info bg-gradient">Đặt vé chuyến bay</h1>
{% if err_msg %}
<div class="alert alert-success">
    {{ err_msg }}
</div>
{% endif %}
<hr>
<div>
    <form action="" class="row g-3">
        <div class="row">
            <div class="col-sm-6">
                <select class="form-select browser-default custom-select mb-4 col-md-8 " id="fromAirport"
                        name="fromAirport" aria-label=".form-select-sm example" required>
                    <option value="" disabled="" selected>Sân bay đi</option>
                    {% for a in airport %}
                    <option value="{{ a.id }}" name="fromAirport">{{ a }}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-sm-6">
                <select class="form-select browser-default custom-select mb-4 col-md-8" id="toAirport" name="toAirport"
                        aria-label=".form-select-sm example" required>
                    <option value="" disabled="" selected>Sân bay đến</option>
                    {% for a in airport %}
                    <option value="{{ a.id }}">{{ a }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="start">Ngày bay: </label>
                <input type="date" id="start" name="trip-start" class="col-md-5 form-control"
                       value="22-12-10" min="22-12-01" max="23-12-31" required>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary" id="find">Tìm kiếm</button>
            </div>
        </div>
    </form>
</div>
<div id="flights">

</div>
<script>
document.getElementById('find').onclick = () => {
let f = document.getElementById('fromAirport').value
let t = document.getElementById('toAirport').value
let s = document.getElementById('start').value
    getFlights(f,t,s)
}
function getFlights(fromAirportId, toAirportId, date) {
    let json = JSON.stringify({
        "fromAirport": fromAirportId,
        "toAirport": toAirportId,
        "trip-start": date
    })
    fetch("/booking", {
        method: "post",
        body: json,
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(res => res.json())
    .then(f => {
        console.log(f)
        let html = '<div class="row">'
        f.forEach(e => html += `
            <div class="col-md-3 col-sm-6 flight" id=flight${e.id} style="padding:1.5rem;">
                <a href="/flight/${e.id}">
                    <div class="flight-image">
                        <img src="static/images/${e.flight_route.departure_img}"/>
                        <img src="static/images/${e.flight_route.arrival_img}"/>
                    </div>
                    <div class="flight-info">
                        <h3 class="text-white">${e.flight_route.departure_airport} đến</h3>
                        <h3 class="text-white">${e.flight_route.arrival_airport}</h3>
                        <p class="text-white">${e.takeoff_time}</p>
                        <p class="text text-end text-white pe-4">Từ</p>
                        <h4 class="text text-end text-warning pe-4">${e.base_price} VNĐ</h4>
                    </div>
                </a>
            </div>`
        )
        console.log(html)
        document.getElementById('flights').innerHTML = html + "</div>"
    })
    .catch(err => console.log(err))
}
</script>
{% endblock %}